assembly/__tests__/
assembly/__benches__/
.trunk/
.github/
.vscode/
.git/
bench/
build/
node_modules/
scripts/
.gitignore
.prettierignore
.prettierrc.json
*.sh
bun.lock
*.tmp.ts
CHANGELOG.md
SECURITY.md
asconfig.json
transform/src/
images/
