.as-test/
assembly/__tests__/
assembly/__benches__/
assembly/test.ts
assembly/*.tmp.ts
build/
scripts/
bench/
images/
tools/
*.sh
TODO
ARCHITECTURE.md
CONTRIBUTING.md
SECURITY.md
as-test.config.json
asconfig.json
lib/tsconfig.json
transform/src/
transform/tsconfig.json
transform/lib/**/*.map
transform/lib/**/*.d.ts.map
