name: Tests

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    needs: check

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v6

      - name: Install Wasmtime
        run: |
          curl https://wasmtime.dev/install.sh -sSf | bash
          echo "$HOME/.wasmtime/bin" >> $GITHUB_PATH

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2

      - name: Install Dependencies
        run: bun install

      - name: Build Transform
        run: bun run build:transform

      - name: Run Tests
        run: bun run test:ci
