name: CI

on: [push, pull_request]

jobs:
  # Type checking and linting
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v6

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2

      - name: Install Dependencies
        run: bun install

      - name: TypeScript Type Check
        run: bun run typecheck

      - name: Lint
        run: bun run lint

  # Build and test
  test:
    runs-on: ubuntu-latest
    needs: check

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v6

      - name: Install Wasmtime
        run: |
          curl https://wasmtime.dev/install.sh -sSf | bash
          echo "$HOME/.wasmtime/bin" >> $GITHUB_PATH

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2

      - name: Install Dependencies
        run: bun install

      - name: Build Transform
        run: bun run build:transform

      - name: Run Tests
        run: bash ./run-tests.sh
